@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0px;
}

main {
    padding: 16px;
    padding-bottom: 20px;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    background-color: #B5CF66;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A34;
}

a:hover{
    color: green;
}

a {
    text-decoration: none;
    color: black;
}



html {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}
